/* .info-box {
    background: #262626ef;
    opacity: 0;
    top: 0;
    left: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 40%;
    height: 270px;
    margin: 10px;
    display: none;
} */
.text{
    color:black;
}
.card{
    margin: 20px 0;
    border: none;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.8);
    /* border-radius: 10px; */
}
.info-card{
    background-color:#181030;
    color: rgb(245, 244, 244);
    /* border-radius: 0 0 8px 8px; */
}
/* .portfolio-img{
    width: 95%;
    margin:auto;
} */
.image-box{
    /* width: 90%; */
    /* height: 300px; */
    /* background-color: rgb(174, 227, 236); */
    /* padding: 10px; */
    /* border: 1px solid #181030; */
}
/* .info-box h1 {
    font-size: 30px;
}
.info-box h2 {
    font-size:20px;
    font-weight:100%;
} */
/* .images{
    margin: 10px;
    position: relative;
}
.images:hover{
    opacity: 0;
}
.info-box:hover {
    delay: 1s;
    display: block;
} */